
@import "tailwindcss";

html{
  scroll-behavior: smooth;
  
}
body {
  background: repeating-linear-gradient(
    45deg,
    #0f235a,
    #0f235a 10px,
    #102a6b 10px,
    #102a6b 20px
  );
 
  font-family: 'montserrat', sans-serif;
}

@layer utilities {
  @keyframes moveAround {
    0%   { transform: translate(0, 0); }
    25%  { transform: translate(100vw, 100vh); }
    50%  { transform: translate(40vw, 80vh); }
    75%  { transform: translate(10vw, 70vh); }
    100% { transform: translate(80vh, 100vh); }
  }

  .animate-moveAround {
    animation: moveAround 6s linear infinite;
  }
}
